@import url(carrousel.css);
@import url(slider.css);
@import url(cod-modos.css);
@import url(tabla-hover.css);
@import url(responsive.css);

/* styles.css */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      justify-content: center;
}

/* Header, de las imagenes de los juegos */

.header.zelda {
    background: url("../img/zelda-fondo.png") no-repeat center center fixed;
    background-size: cover;
    padding: 90px 40px;
    text-align: center;
    height: 100vh;
}

.header.mario {
    background: url("../img/fondo-mario.webp") no-repeat center center fixed;
    background-size: cover;
    padding: 90px 40px;
    text-align: center;
    height: 100vh;
}

.header.fifa {
    background: url("../img/fondo-EA-FC25.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 90px 40px;
    text-align: center;
    height: 100vh;
}

.header.cod {
    background: url("../img/fondo-cod2.jpeg") no-repeat center center fixed;
    background-size: cover;
    padding: 90px 40px;
    text-align: center;
    height: 100vh;
}

.header.gta {
    background: url("../img/fondo-gta.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 90px 40px;
    text-align: center;
    height: 100vh;
}

/* Configuracion general */

  .header h1 {
    font-size: 72px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .header p {
    font-size: 36px;
    color: grey;
    font-weight: bold;
  }

  .info {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .platforma {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

  }
  .platform-icon {
    width: 150px;
    height: auto;
    border-radius: 50%;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 28px;
  }

  iframe {
    border: none;
    width: 100%;
    max-width: 800px;
    height: 500px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .badge_, .platform_, .btn_ {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
  }

  .badge_ {
    background: orange;
    color: #fff;
  }

  .platform_ {
    background: #008cba;
    color: #fff;
  }

  .btn_ {
    background: #e91e63;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
  }

.btn_:hover {
    background: #c2185b;
  }


div.game-imgs img {
    width: 90%;
    height: auto;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    background-color: #222;
    color: #fff;
}
div.container > p {
    text-justify: auto;
    text-align: justify;
    margin: 0;
    padding: 0;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.game-imgs {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.game-imgs img {
    width: 50%;
}

.video {
    background: #ccc;
    height: 200px;
    text-align: center;
    line-height: 200px;
    margin: 20px 0;
    border-radius: 8px;
    color: #333;
}

a {
    color: #0066cc;
}