<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTA VI - Nintendo Switch 2</title>
    <link rel="stylesheet" href="../css/style.videojoc.css">
</head>
<body>
    <header>
        <div class="header gta">
            <h1>Grand Theft Auto VI - Nintendo Switch 2 Edition</h1>
            <p>Géneros: Acción / Mundo Abierto / Crimen</p>
            
            <div class="info">
              <div class="badge_">+18</div>
              <div class="platform_">Nintendo Switch 2</div>
              <div class="btn_">Reservar</div>
            </div>
        </div>
    </header>

    <div class="container">
        <h1>GTA VI se traslada a Nintendo Switch 2 con todo su caos y libertad</h1>
        <div class="game-imgs">
            <img src="../img/imagen-gta.jpeg" alt="GTA VI">
        </div>
        <p>La esperada nueva entrega de Rockstar Games, Grand Theft Auto VI, aterriza en Nintendo Switch 2 con gráficos revolucionarios, una narrativa intensa y un mundo abierto más vivo y detallado que nunca. Vice City vuelve a estar en el centro de la acción.</p>
        
        <div class="video">[Video del juego]</div>
        <h2>Tráiler oficial de GTA VI</h2>
        <iframe src="https://www.youtube.com/embed/QdBZY2fkU-0" allowfullscreen></iframe>

        <a href="#">Explora Vice City en su versión más salvaje en GTA VI para Switch 2</a>
    </div>

    <footer>
        <p>&copy; 2025 Noticias Gamer - Todos los derechos reservados</p>
    </footer>

    <div class="container">
        <img class="image-com bottom" src="../img/gta6_comparison.jpg" alt="Comparativa GTA VI">
        <img class="image-com top" src="../img/gta6_comparison_copy.jpg" alt="Comparativa mejorada GTA VI">
    </div>    
</body>
</html>
