<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zelda - Nintendo Switch 2</title>
    <link rel="stylesheet" href="../css/style.videojoc.css">
</head>
<body>
    <header>
        <div class="header zelda">
            <h1>The Legend of Zelda: Tears of the Kingdom - Nintendo Switch 2 Edition</h1>
            <p>Géneros: Action-RPG / Aventura de acción / Mundo abierto</p>
            
            <div class="info">
              <div class="badge">+12</div>
              <div class="platform">Nintendo Switch 2</div>
              <div class="btn">Reservar</div>
            </div>
          </div>
    </header>
    <div class="container">
        <h1>Impresiones Zelda Breath of the Wild y Tears of the Kingdom podrían ser aún mejores, y lo veremos en Nintendo Switch 2</h1>
        <div class="game-imgs">
            <img src="../img/Zelda_Tears_of_the_Kingdom.jpg" alt="Zelda Tears of the Kingdom">
        </div>
        <p>Esta es una mandada que todos habríamos esperado. Nintendo parece estar preparando una versión mejorada de sus juegos icónicos en la nueva Nintendo Switch 2. Zelda en sus dos presentaciones más exitosas, se ven mejor que nunca.</p>
        <div class="video">[Video del juego]</div>
        <h2>Tráiler oficial de The Legend of Zelda: Tears of the Kingdom</h2>
        <iframe src="https://www.youtube.com/embed/sjxLF4IYnJc" allowfullscreen></iframe>
        </div>
        <a href="#">Así se siente el mundo abierto de los últimos Zelda en Switch 2</a>
    </div>
    <footer>
        <p>&copy; 2025 Noticias Gamer - Todos los derechos reservados</p>
    </footer>
        <!-- Container for the slider -->
        <div class="container-com">
            <div class="image-container">
                <img class="image-before slider-image" src="../img/zelda-comparison.jpg" alt="Before Image">
                <img class="image-after slider-image" src="../img/zelda-comparison-copy.jpg" alt="After Image">
            </div>
            <input type="range" min="0" max="100" value="50" class="slider">
        </div>        
    <script src="../scripts.js"></script>  
</body>
</html>