<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTA VI - Nintendo Switch 2</title>
    <link rel="stylesheet" href="../css/style.videojoc.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="icon" type="image/png" href="../img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header_">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
                <a class="navbar-brand" href="../index.html"><img class="icon" src="../img/favicon.png" alt="Logo GameStore"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav megamenu">
                        <li class="nav-item"><a class="nav-link" href="views/videojoc1.html">Zelda Tears of the Kingdom</a></li>
                        <li class="nav-item"><a class="nav-link" href="views/videojoc2.html">Mario Kart 8</a></li>
                        <li class="nav-item"><a class="nav-link" href="views/videojoc3.html">Fifa 25</a></li>
                        <li class="nav-item"><a class="nav-link" href="views/videojoc4.html">Call of Duty 2</a></li>
                        <li class="nav-item"><a class="nav-link" href="views/videojoc5.html">GTA 6</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header gta">
            <h1>Grand Theft Auto VI - Nintendo Switch 2 Edition</h1>
            <p>Géneros: Acción / Mundo Abierto / Crimen</p>
            
            <div class="info">
              <div class="badge_">+18</div>
              <div class="platform_">Nintendo Switch 2</div>
              <div class="btn_">Reservar</div>
            </div>
        </div>
    </header>

    <div class="container">
        <h1>GTA VI se traslada a Nintendo Switch 2 con todo su caos y libertad</h1>
        <div class="game-imgs">
            <img src="../img/imagen-gta.jpeg" alt="GTA VI">
        </div>
        <p>La esperada nueva entrega de Rockstar Games, Grand Theft Auto VI, aterriza en Nintendo Switch 2 con gráficos revolucionarios, una narrativa intensa y un mundo abierto más vivo y detallado que nunca. Vice City vuelve a estar en el centro de la acción.</p>
        
        <div class="video">[Video del juego]</div>
        <h2>Tráiler oficial de GTA VI</h2>
        <iframe src="https://www.youtube.com/embed/QdBZY2fkU-0" allowfullscreen></iframe>

        <a href="#">Explora Vice City en su versión más salvaje en GTA VI para Switch 2</a>
    </div>

    <footer>
        <p>&copy; 2025 Noticias Gamer - Todos los derechos reservados</p>
    </footer>

    <div class="container">
        <img class="image-com bottom" src="../img/gta6_comparison.jpg" alt="Comparativa GTA VI">
        <img class="image-com top" src="../img/gta6_comparison_copy.jpg" alt="Comparativa mejorada GTA VI">
    </div>    
</body>
</html>
