<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIFA 25 - Nintendo Switch 2</title>
    <link rel="stylesheet" href="../css/style.videojoc.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="icon" type="image/png" href="../img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto&display=swap" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'Cruyff Sans Light';
            src: url('../fonts/CruyffSans-Light/CruyffSans-Light.ttf') format('truetype');
        }
        h1, h2 {
            font-family: 'Cruyff Sans Light';
            font-weight: bold;
        }
        p {
            font-family: "Cruyff Sans Light";
        }
    </style>
</head>
<body>
    <header>
        <div class="header_">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
                <a class="navbar-brand" href="../index.html"><img class="icon" src="../img/favicon.png" alt="Logo GameStore"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav megamenu">
                        <li class="nav-item"><a class="nav-link" href="views/videojoc1.html">Zelda Tears of the Kingdom</a></li>
                        <li class="nav-item"><a class="nav-link" href="views/videojoc2.html">Mario Kart 8</a></li>
                        <li class="nav-item"><a class="nav-link" href="views/videojoc3.html">Fifa 25</a></li>
                        <li class="nav-item"><a class="nav-link" href="views/videojoc4.html">Call of Duty 2</a></li>
                        <li class="nav-item"><a class="nav-link" href="views/videojoc5.html">GTA 6</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header fifa">
            <h1>FIFA 25 - Nintendo Switch 2 Edition</h1>
            <p>Géneros: Deportes / Fútbol / Multijugador</p>
            
            <div class="info">
              <div class="badge_">+3</div>
              <div class="platform_">Nintendo Switch 2</div>
              <a href="https://www.ea.com/es/games/ea-sports-fc/fc-25" class="btn_">Comprar</a>
            </div>
          </div>
    </header>

    <div class="container">
        <h1>FIFA 25 revoluciona el fútbol</h1>
        <div class="game-imgs">
            <img src="../img/imagen-fifa25.avif" alt="FIFA 25">
        </div>
        <h1>Fifa 25 lo nuevo</h1>
        <div class="carousel-container">
            <!-- Left navigation arrow -->
            <button class="arrow left">&#8249;</button>
            
            <!-- Carousel wrapper -->
            <div class="carousel-wrapper">
              <div class="carousel-slide">
                <img src="../img/fifa00.avif" alt="Imagen 1">
                <div class="carousel-text">
                    <h2>Rush de 5c5</h2>
                    <p>Forma equipo en Rush de 5c5: una nueva forma de jugar al fútbol urbano con tus amistades.</p>
                </div>
              </div>
              <div class="carousel-slide">
                <img src="../img/fifa01.avif" alt="Imagen 2">
                <div class="carousel-text">
                    <h2>FC IQ</h2>
                    <p>La actualización de los fundamentos tácticos del juego ofrece un mayor control estratégico.</p>
                </div>
              </div>
              <div class="carousel-slide">
                <img src="../img/fifa02.avif" alt="Imagen 3">
                <div class="carousel-text">
                    <h2>Football Ultimate Team</h2>
                    <p>Juega en equipo y vive una experiencia única en cada partido.</p>
                </div>
              </div>
              <div class="carousel-slide">
                <img src="../img/fifa03.avif" alt="Imagen 4">
                <div class="carousel-text">
                    <h2>Carrera de mánager y Carrera de futbolista</h2>
                    <p>Disfruta de una experiencia auténtica y reescribe la historia del fútbol.</p>
                </div>
              </div>
            </div>
            
            <!-- Right navigation arrow -->
            <button class="arrow right">&#8250;</button>
            
            <!-- Dot indicators -->
            <div class="carousel-indicators">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
        </div>          
        <h1>Todas las copas</h1>
        <div class="tabla-imagenes">
            <!-- Fila 1 -->
            <div class="celda">
                <div class="contenido">
                    <img src="../img/PL.jpeg" alt="Placeholder 1">
                    <div class="texto"><p>EA SPORTS FC™ 25 es el único lugar donde se puede disfrutar de la liga más popular del mundo. Juega con los 20 clubes, sus equipaciones de la temporada 2024/25 y sus logotipos oficiales y disfruta de retransmisiones auténticas, comentarios y coreografías previas al partido en lo que es la representación más auténtica de la liga.</p></div>
                </div>
            </div>
            <div class="celda">
                <div class="contenido">
                    <img src="../img/EFL.jpeg" alt="Placeholder 2">
                    <div class="texto"><p>Creada por sus doce miembros fundadores en 1888, la EFL es la competición futbolística más antigua del mundo y el modelo en el que se basan el resto de ligas. EA SPORTS FC™ 25 incluirá los 72 clubes miembros, que abarcan tres divisiones de la pirámide futbolística y muestran la historia, el orgullo y la pasión únicos en el corazón del fútbol británico.</p></div>
                </div>
            </div>
            <div class="celda">
                <div class="contenido">
                    <img src="../img/LaLiga.jpeg" alt="Placeholder 3">
                    <div class="texto"><p>Juega con las mejores estrellas de los 20 clubes de LALIGA EA SPORTS en todos los modos y disfruta de un paquete de retransmisión inmersivo con el que sentirás el inigualable ambiente de LALIGA en todos los partidos.</p></div>
                </div>
            </div>
            <!-- Fila 2 -->
            <div class="celda">
                <div class="contenido">
                    <img src="../img/bundesliga.jpeg" alt="Placeholder 4">
                    <div class="texto"><a>EA SPORTS FC™ 25 es el único lugar donde puedes jugar con los 18 clubes de la Bundesliga y sus plantillas, equipaciones y escudos auténticos. Elige el club que quieras: disfrutarás de un paquete de retransmisiones auténtico y completo con marcas exclusivas y una atmósfera inmersiva dentro de cada estadio. Siente el fútbol alemán como nunca antes</a></div>
                </div>
            </div>
            <div class="celda">
                <div class="contenido">
                    <img src="../img/ligue1.jpeg" alt="Placeholder 5">
                    <div class="texto"><a>EA SPORTS FC™ 25 te ofrece toda la acción, autenticidad y emoción del fútbol francés. Disfruta de todos los equipos, jugadores y marcas auténticos para cada encuentro, aparte de paquetes de retransmisión y un ambiente previo al partido realistas que reflejan el prestigio de la Ligue 1 McDonald's.</a></div>
                </div>
            </div>
            <div class="celda">
                <div class="contenido">
                    <img src="../img/seriea.jpeg" alt="Placeholder 6">
                    <div class="texto"><a>Gracias a una colaboración exclusiva entre EA SPORTS y Lega Serie A, este año ofrecemos las características únicas y la historia del fútbol italiano en nuestro nuevo título. De Roma a Nápoles o de Turín a Milán, juega con las estrellas más importantes de la Serie A Enilive y rinde homenaje a los mejores futbolistas de cada mes con el Jugador del mes de EA SPORTS.</a></div>
                </div>
            </div>
        </div>
        <h1>Trailer oficial de Fifa 25</h1>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/o3V-GvvzjE4" allowfullscreen></iframe>
        </div>
    </div>
    <script src="../javascript/carrousel.js"></script>

    <footer>
        <p>&copy; 2025 Noticias Gamer - Todos los derechos reservados</p>
    </footer>   
</body>
</html>
