<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario Kart 8 - Nintendo Switch 2</title>
    <link rel="stylesheet" href="../css/style.videojoc.css">
</head>
<body>
    <header>
        <div class="header mario">
            <h1>Mario Kart 8 Deluxe - Nintendo Switch 2 Edition</h1>
            <p>Géneros: Carreras / Multijugador / Arcade</p>
            
            <div class="info">
              <div class="badge">+3</div>
              <div class="platform">Nintendo Switch 2</div>
              <div class="btn">Reservar</div>
            </div>
          </div>
    </header>

    <div class="container">
        <h1>Mario Kart 8 Deluxe acelera con fuerza en Nintendo Switch 2</h1>
        <div class="game-imgs">
            <img src="../img/imagen-mariokart8.avif" alt="Mario Kart 8 Deluxe">
        </div>
        <p>La nueva generación de consolas de Nintendo promete llevar la experiencia de Mario Kart 8 Deluxe a otro nivel. Con gráficos optimizados, más fluidez y nuevos contenidos, este clásico se siente más fresco que nunca en Nintendo Switch 2.</p>
        
        <div class="video">[Video del juego]</div>
        <h2>Tráiler oficial de Mario Kart 8 Deluxe</h2>
        <iframe src="https://www.youtube.com/embed/tKlRN2YpxRE" allowfullscreen></iframe>

        <a href="#">Descubre cómo se vive la velocidad en Switch 2 con Mario y compañía</a>
    </div>

    <footer>
        <p>&copy; 2025 Noticias Gamer - Todos los derechos reservados</p>
    </footer>

    <div class="container">
        <img class="image-com bottom" src="../img/mario_kart_comparison.jpg" alt="Comparativa Mario Kart">
        <img class="image-com top" src="../img/mario_kart_comparison_copy.jpg" alt="Comparativa mejorada Mario Kart">
    </div>    
</body>
</html>