<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIFA 25 - Nintendo Switch 2</title>
    <link rel="stylesheet" href="../css/style.videojoc.css">
</head>
<body>
    <header>
        <div class="header fifa">
            <h1>FIFA 25 - Nintendo Switch 2 Edition</h1>
            <p>Géneros: Deportes / Fútbol / Multijugador</p>
            
            <div class="info">
              <div class="badge">+3</div>
              <div class="platform">Nintendo Switch 2</div>
              <div class="btn">Reservar</div>
            </div>
          </div>
    </header>

    <div class="container">
        <h1>FIFA 25 revoluciona el fútbol en Nintendo Switch 2</h1>
        <div class="game-imgs">
            <img src="../img/imagen-fifa25.avif" alt="FIFA 25">
        </div>
        <p>Con FIFA 25, EA Sports da el salto definitivo en Nintendo Switch 2. Gracias a las mejoras gráficas, el nuevo motor de físicas y modos de juego actualizados, la experiencia futbolística se siente más real y emocionante que nunca.</p>
        
        <div class="video">[Video del juego]</div>
        <h2>Tráiler oficial de FIFA 25</h2>
        <iframe src="https://www.youtube.com/embed/o3V-GvvzjE4" allowfullscreen></iframe>

        <a href="#">Descubre los nuevos modos y realismo de FIFA 25 en Switch 2</a>
    </div>

    <footer>
        <p>&copy; 2025 Noticias Gamer - Todos los derechos reservados</p>
    </footer>

    <div class="container">
        <img class="image-com bottom" src="../img/fifa_comparison.jpg" alt="Comparativa FIFA 25">
        <img class="image-com top" src="../img/fifa_comparison_copy.jpg" alt="Comparativa mejorada FIFA 25">
    </div>    
</body>
</html>
